Supporting Internationalized Resource Identifier (RFC 3987)

URL validation right now fails with the widely-supported IRI (RFC-3987), for example `https://www.example.com/michaël`.

This library seems to support it, could it be possible to switch to this one for URL validation internally ? https://github.com/garycourt/uri-js

There's little chance that a new dependency will be added, since Joi is itself a dependency of hapi and those downstream deps are verrrry closely guarded. 

That being said, that's not the only option for adding internationalization validation. If @Marsup gives the broad goal of supporting international characters in uri validation, I'll put this on my radar, right behind [isemail](https://github.com/hapijs/isemail/issues/152); anyone else who wants to take a stab though has my full support! I am happy to help where I can.

Hm, actually, I think the decision whether or not to include IRIs by default in the validation comes down to the intended function of `Joi.string().uri()`. 

From [RFC 3987 section 1.2.a](https://www.ietf.org/rfc/rfc3987.txt) - 
> in the HTTP protocol [RFC2616], the Request URI is defined
       as a URI, which means that direct use of IRIs is not allowed in
       HTTP requests

So, if `Joi.string().uri()` is being used to validate the endpoint for an HTTP request, IRIs should fail. But that's not the *only* use for URI validation.

I think they mean it should be normalized to punycode internally. But for the facing user "https://www.examplé.com" is still a valid domain right. Maybe we should talk about `Joi.string().webAdress()` ?

Admittedly I didn't have the chance to finish reading the RFC yet... :P

@Xrampino This is where things become interesting because there's a number of different RFCs which apply to this. From what I've dug through you are correct that there are some specifications out there which do indeed support non-ASCII characters within the user's browser. These are then converted from [Unicode to ASCII](https://url.spec.whatwg.org/#host-parsing).

I agree with you that I don't think we should be modifying `Joi.string().uri()`. There are some different parsing mechanisms that are mentioned within the WhatWG work group for [URL](https://url.spec.whatwg.org) from what was specified in RFC-3986. These again are different from RFC-3987 which was also mentioned and handles IRIs.

There hasn't been any demand for that in the past few years, nobody volunteered to implement it, and I don't see any joi extension doing it. Shall I close ?